.container-grub{
    margin: 0 auto;
    width: 960px;
}

.block-section {
    padding: 30px 0;
}

.grub-left{
    width: 100%;
}

.check-grub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 10px;
}

.select-all{
    margin-left: 10px;
    font-size: 11px;
    color: #999;
}

.fa-trash-can{
    margin-right: 6px;
    font-size: 12px;
    color: #999;
}

.delete{
    font-size: 11px;
    color: #999;
}

.check-click{
    display: flex;
    align-items: center;
}
.sanpham{
    display: flex;
    align-items: center;
}
.sanpham .ig-sp{
  width: 12px;
  height: 12px;
  margin-left: 10px;
}

.hide-click{
    display: flex;
    background-color: #fff;
    padding: 10px 10px;
    margin-top: 10px;
    border-bottom: 1px solid #dbdcdd;
}

p{
    margin: 0 5px;
    font-size: 12px;
}

.product-grub{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    margin-bottom: 20px;
}

.sp-grb{
    display: flex;
    padding: 10px;
}

.img-grb{
    width: 110px;
    height: 66px;
    margin-left: 10px;
}
.title-grb{
    font-size: 15px;
    margin-left: 11px;
    font-weight: 700;
    color: #252525;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 195px;
}

.prc-grb{
    font-size: 20px;
    margin-top: 8px;
}


.delete-pro{
    text-align: center;
    margin-bottom: 45px;
    cursor: pointer;
}

.hire{
    font-size: 17px;
    margin-left: 15px;
}

.cout-product{
    display: flex;
    height: 18px;
    margin-right: 55px;
}

.price{
    text-align: center;
    margin-top: 15px;
    margin-right: 20px;
}
.delete-check{
    cursor: pointer;
}

.btn-grb{
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    color:#e1e1e1 ;
}
.btn-grb:hover{
   background-color: #bebec0;
   
}

.ipt-grb{
    width: 33px;
    height: 32px;
    padding-left: 12px;
    border: none;
}

.ipt-grb:focus{
   outline: none;
}

.lzd-grub{
    display: flex;
}

.grub-right{
    margin-left: 10px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin-right: -7px;
}

.right-grb{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
    color: #999;
}

.addres-grb{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #dbdcdd;
    font-size: 15px;
padding-bottom: 24px;
}

.p-grb{
    margin-left: 11px;

}

.tt-grtb{
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: #000;
}

.count-grb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 10px 6px;
}

.fee-grb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 10px 8px;
}

.inp-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 10px 14px;
}
.inp-right input{
    height: 35px;
    border: 1px solid #999;
    padding-left: 5px;
    width: 175px;
}
.inp-right input:focus{
   outline: none;
}

.grbt-tt{
    color: #999;
}

.ad-grb{
    width: 85px;
    height: 36px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #ee4d2d;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    margin-left: 5px;
}
.ad-grb:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#ee4d2d;
}


.bop-grbt{
    text-align: center;
}

.btn-grbt{
    width: 280px;
    height: 30px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #ee4d2d;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
}

.btn-grbt:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#ee4d2d;

}

.fa-heart{
    font-size: 14px;
}

/* CSS cho modal */
.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    text-align: center;
  }
  
  .confirmation-modal h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .confirmation-modal p {
    margin-bottom: 20px;
  }
  
  .confirmation-modal-buttons {
    display: flex;
    justify-content: center;
  }
  
  .confirmation-modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmation-modal-buttons button:first-child {
    background-color: #f44336;
    color: #fff;
  }
  
  .confirmation-modal-buttons button:last-child {
    background-color: #ccc;
  }
  